<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.betmatrix.theonex.dao.br.dao.BrMatchMarketArgumentMapper">
  <resultMap id="BaseResultMap" type="com.betmatrix.theonex.dao.br.model.BrMatchMarketArgument">
    <id column="matchMarketArgumentId" jdbcType="INTEGER" property="matchMarketArgumentId" />
    <result column="matchId" jdbcType="BIGINT" property="matchId" />
    <result column="marketId" jdbcType="BIGINT" property="marketId" />
    <result column="marketTypeId" jdbcType="INTEGER" property="marketTypeId" />
    <result column="eventTypeId" jdbcType="INTEGER" property="eventTypeId" />
    <result column="argument" jdbcType="VARCHAR" property="argument" />
    <result column="isPrime" jdbcType="TINYINT" property="isPrime" />
    <result column="isActive" jdbcType="TINYINT" property="isActive" />
    <result column="isVisible" jdbcType="TINYINT" property="isVisible" />
    <result column="isCashoutable" jdbcType="TINYINT" property="isCashoutable" />
    <result column="updatedTime" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    matchMarketArgumentId, matchId, marketId, marketTypeId, eventTypeId, argument, isPrime, 
    isActive, isVisible, isCashoutable, updatedTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MatchMarketArgument
    where matchMarketArgumentId = #{matchMarketArgumentId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.betmatrix.theonex.dao.br.model.BrMatchMarketArgument">
    insert into MatchMarketArgument (matchMarketArgumentId, matchId, marketId, 
      marketTypeId, eventTypeId, argument, 
      isPrime, isActive, isVisible, 
      isCashoutable, updatedTime)
    values (#{matchMarketArgumentId,jdbcType=INTEGER}, #{matchId,jdbcType=BIGINT}, #{marketId,jdbcType=BIGINT}, 
      #{marketTypeId,jdbcType=INTEGER}, #{eventTypeId,jdbcType=INTEGER}, #{argument,jdbcType=VARCHAR}, 
      #{isPrime,jdbcType=TINYINT}, #{isActive,jdbcType=TINYINT}, #{isVisible,jdbcType=TINYINT}, 
      #{isCashoutable,jdbcType=TINYINT}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.betmatrix.theonex.dao.br.model.BrMatchMarketArgument">
    insert into MatchMarketArgument
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="matchMarketArgumentId != null">
        matchMarketArgumentId,
      </if>
      <if test="matchId != null">
        matchId,
      </if>
      <if test="marketId != null">
        marketId,
      </if>
      <if test="marketTypeId != null">
        marketTypeId,
      </if>
      <if test="eventTypeId != null">
        eventTypeId,
      </if>
      <if test="argument != null">
        argument,
      </if>
      <if test="isPrime != null">
        isPrime,
      </if>
      <if test="isActive != null">
        isActive,
      </if>
      <if test="isVisible != null">
        isVisible,
      </if>
      <if test="isCashoutable != null">
        isCashoutable,
      </if>
      <if test="updatedTime != null">
        updatedTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="matchMarketArgumentId != null">
        #{matchMarketArgumentId,jdbcType=INTEGER},
      </if>
      <if test="matchId != null">
        #{matchId,jdbcType=BIGINT},
      </if>
      <if test="marketId != null">
        #{marketId,jdbcType=BIGINT},
      </if>
      <if test="marketTypeId != null">
        #{marketTypeId,jdbcType=INTEGER},
      </if>
      <if test="eventTypeId != null">
        #{eventTypeId,jdbcType=INTEGER},
      </if>
      <if test="argument != null">
        #{argument,jdbcType=VARCHAR},
      </if>
      <if test="isPrime != null">
        #{isPrime,jdbcType=TINYINT},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=TINYINT},
      </if>
      <if test="isVisible != null">
        #{isVisible,jdbcType=TINYINT},
      </if>
      <if test="isCashoutable != null">
        #{isCashoutable,jdbcType=TINYINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.betmatrix.theonex.dao.br.model.BrMatchMarketArgument">
    update MatchMarketArgument
    <set>
      <if test="matchId != null">
        matchId = #{matchId,jdbcType=BIGINT},
      </if>
      <if test="marketId != null">
        marketId = #{marketId,jdbcType=BIGINT},
      </if>
      <if test="marketTypeId != null">
        marketTypeId = #{marketTypeId,jdbcType=INTEGER},
      </if>
      <if test="eventTypeId != null">
        eventTypeId = #{eventTypeId,jdbcType=INTEGER},
      </if>
      <if test="argument != null">
        argument = #{argument,jdbcType=VARCHAR},
      </if>
      <if test="isPrime != null">
        isPrime = #{isPrime,jdbcType=TINYINT},
      </if>
      <if test="isActive != null">
        isActive = #{isActive,jdbcType=TINYINT},
      </if>
      <if test="isVisible != null">
        isVisible = #{isVisible,jdbcType=TINYINT},
      </if>
      <if test="isCashoutable != null">
        isCashoutable = #{isCashoutable,jdbcType=TINYINT},
      </if>
      <if test="updatedTime != null">
        updatedTime = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where matchMarketArgumentId = #{matchMarketArgumentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.betmatrix.theonex.dao.br.model.BrMatchMarketArgument">
    update MatchMarketArgument
    set matchId = #{matchId,jdbcType=BIGINT},
      marketId = #{marketId,jdbcType=BIGINT},
      marketTypeId = #{marketTypeId,jdbcType=INTEGER},
      eventTypeId = #{eventTypeId,jdbcType=INTEGER},
      argument = #{argument,jdbcType=VARCHAR},
      isPrime = #{isPrime,jdbcType=TINYINT},
      isActive = #{isActive,jdbcType=TINYINT},
      isVisible = #{isVisible,jdbcType=TINYINT},
      isCashoutable = #{isCashoutable,jdbcType=TINYINT},
      updatedTime = #{updatedTime,jdbcType=TIMESTAMP}
    where matchMarketArgumentId = #{matchMarketArgumentId,jdbcType=INTEGER}
  </update>
</mapper>