<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tommy.mybatis.dao.PyCustMapper">
    <resultMap id="BaseResultMap" type="com.tommy.mybatis.model.PyCust">
        <id column="ID" jdbcType="CHAR" property="id"/>
        <result column="NAME" jdbcType="OTHER" property="name"/>
        <result column="DESCR" jdbcType="OTHER" property="descr"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="API_ADDR" jdbcType="VARCHAR" property="apiAddr"/>
        <result column="AUTH_CODE" jdbcType="VARCHAR" property="authCode"/>
        <result column="STATUS" jdbcType="CHAR" property="status"/>
        <result column="DB_NAME" jdbcType="VARCHAR" property="dbName"/>
        <result column="DB_USER" jdbcType="VARCHAR" property="dbUser"/>
        <result column="DB_PWD" jdbcType="VARCHAR" property="dbPwd"/>
        <result column="DB_HOST" jdbcType="VARCHAR" property="dbHost"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="ENABLE_DATE" jdbcType="VARCHAR" property="enableDate"/>
        <result column="DISABLE_DATE" jdbcType="VARCHAR" property="disableDate"/>
        <result column="ROBOT_QUANTITY" jdbcType="VARCHAR" property="robotQuantity"/>
        <result column="IS_IGNORE_PLATFORM_CALLBACK" jdbcType="CHAR" property="isIgnorePlatformCallback"/>
        <result column="IS_ACTIVATE_GOOGLE_VERIFY" jdbcType="CHAR" property="isActivateGoogleVerify"/>
        <result column="SECRET_KEY" jdbcType="VARCHAR" property="secretKey"/>
        <result column="VALIDATION_CODE_TIME_OFFSET" jdbcType="DECIMAL" property="validationCodeTimeOffset"/>
        <result column="IS_ONE_ACCOUNT_ONE_SESSION" jdbcType="CHAR" property="isOneAccountOneSession"/>
        <result column="IS_ORDER_VERIFY_UNPAID" jdbcType="VARCHAR" property="isOrderVerifyUnpaid"/>
        <result column="IS_ORDER_VERIFY_WAIT_CONFIRM" jdbcType="VARCHAR" property="isOrderVerifyWaitConfirm"/>
        <result column="IS_ORDER_VERIFY_CHANGE_NAME" jdbcType="VARCHAR" property="isOrderVerifyChangeName"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, NAME, DESCR, EMAIL, API_ADDR, AUTH_CODE, STATUS, DB_NAME, DB_USER, DB_PWD, DB_HOST, 
    UPDATE_DATE, CREATE_DATE, ENABLE_DATE, DISABLE_DATE, ROBOT_QUANTITY, IS_IGNORE_PLATFORM_CALLBACK, 
    IS_ACTIVATE_GOOGLE_VERIFY, SECRET_KEY, VALIDATION_CODE_TIME_OFFSET, IS_ONE_ACCOUNT_ONE_SESSION, 
    IS_ORDER_VERIFY_UNPAID, IS_ORDER_VERIFY_WAIT_CONFIRM, IS_ORDER_VERIFY_CHANGE_NAME
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from PY_CUST
        where ID = #{id,jdbcType=CHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PY_CUST
    where ID = #{id,jdbcType=CHAR}
  </delete>
    <insert id="insert" parameterType="com.tommy.mybatis.model.PyCust">
    insert into PY_CUST (ID, NAME, DESCR, EMAIL, 
      API_ADDR, AUTH_CODE, STATUS, 
      DB_NAME, DB_USER, DB_PWD, 
      DB_HOST, UPDATE_DATE, CREATE_DATE, 
      ENABLE_DATE, DISABLE_DATE, ROBOT_QUANTITY, 
      IS_IGNORE_PLATFORM_CALLBACK, IS_ACTIVATE_GOOGLE_VERIFY, 
      SECRET_KEY, VALIDATION_CODE_TIME_OFFSET, IS_ONE_ACCOUNT_ONE_SESSION, 
      IS_ORDER_VERIFY_UNPAID, IS_ORDER_VERIFY_WAIT_CONFIRM, 
      IS_ORDER_VERIFY_CHANGE_NAME)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=OTHER}, #{descr,jdbcType=OTHER}, #{email,jdbcType=VARCHAR}, 
      #{apiAddr,jdbcType=VARCHAR}, #{authCode,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{dbName,jdbcType=VARCHAR}, #{dbUser,jdbcType=VARCHAR}, #{dbPwd,jdbcType=VARCHAR}, 
      #{dbHost,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, 
      #{enableDate,jdbcType=VARCHAR}, #{disableDate,jdbcType=VARCHAR}, #{robotQuantity,jdbcType=VARCHAR}, 
      #{isIgnorePlatformCallback,jdbcType=CHAR}, #{isActivateGoogleVerify,jdbcType=CHAR}, 
      #{secretKey,jdbcType=VARCHAR}, #{validationCodeTimeOffset,jdbcType=DECIMAL}, #{isOneAccountOneSession,jdbcType=CHAR}, 
      #{isOrderVerifyUnpaid,jdbcType=VARCHAR}, #{isOrderVerifyWaitConfirm,jdbcType=VARCHAR}, 
      #{isOrderVerifyChangeName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.tommy.mybatis.model.PyCust">
        insert into PY_CUST
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="descr != null">
                DESCR,
            </if>
            <if test="email != null">
                EMAIL,
            </if>
            <if test="apiAddr != null">
                API_ADDR,
            </if>
            <if test="authCode != null">
                AUTH_CODE,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="dbName != null">
                DB_NAME,
            </if>
            <if test="dbUser != null">
                DB_USER,
            </if>
            <if test="dbPwd != null">
                DB_PWD,
            </if>
            <if test="dbHost != null">
                DB_HOST,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="enableDate != null">
                ENABLE_DATE,
            </if>
            <if test="disableDate != null">
                DISABLE_DATE,
            </if>
            <if test="robotQuantity != null">
                ROBOT_QUANTITY,
            </if>
            <if test="isIgnorePlatformCallback != null">
                IS_IGNORE_PLATFORM_CALLBACK,
            </if>
            <if test="isActivateGoogleVerify != null">
                IS_ACTIVATE_GOOGLE_VERIFY,
            </if>
            <if test="secretKey != null">
                SECRET_KEY,
            </if>
            <if test="validationCodeTimeOffset != null">
                VALIDATION_CODE_TIME_OFFSET,
            </if>
            <if test="isOneAccountOneSession != null">
                IS_ONE_ACCOUNT_ONE_SESSION,
            </if>
            <if test="isOrderVerifyUnpaid != null">
                IS_ORDER_VERIFY_UNPAID,
            </if>
            <if test="isOrderVerifyWaitConfirm != null">
                IS_ORDER_VERIFY_WAIT_CONFIRM,
            </if>
            <if test="isOrderVerifyChangeName != null">
                IS_ORDER_VERIFY_CHANGE_NAME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=CHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=OTHER},
            </if>
            <if test="descr != null">
                #{descr,jdbcType=OTHER},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="apiAddr != null">
                #{apiAddr,jdbcType=VARCHAR},
            </if>
            <if test="authCode != null">
                #{authCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="dbName != null">
                #{dbName,jdbcType=VARCHAR},
            </if>
            <if test="dbUser != null">
                #{dbUser,jdbcType=VARCHAR},
            </if>
            <if test="dbPwd != null">
                #{dbPwd,jdbcType=VARCHAR},
            </if>
            <if test="dbHost != null">
                #{dbHost,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="enableDate != null">
                #{enableDate,jdbcType=VARCHAR},
            </if>
            <if test="disableDate != null">
                #{disableDate,jdbcType=VARCHAR},
            </if>
            <if test="robotQuantity != null">
                #{robotQuantity,jdbcType=VARCHAR},
            </if>
            <if test="isIgnorePlatformCallback != null">
                #{isIgnorePlatformCallback,jdbcType=CHAR},
            </if>
            <if test="isActivateGoogleVerify != null">
                #{isActivateGoogleVerify,jdbcType=CHAR},
            </if>
            <if test="secretKey != null">
                #{secretKey,jdbcType=VARCHAR},
            </if>
            <if test="validationCodeTimeOffset != null">
                #{validationCodeTimeOffset,jdbcType=DECIMAL},
            </if>
            <if test="isOneAccountOneSession != null">
                #{isOneAccountOneSession,jdbcType=CHAR},
            </if>
            <if test="isOrderVerifyUnpaid != null">
                #{isOrderVerifyUnpaid,jdbcType=VARCHAR},
            </if>
            <if test="isOrderVerifyWaitConfirm != null">
                #{isOrderVerifyWaitConfirm,jdbcType=VARCHAR},
            </if>
            <if test="isOrderVerifyChangeName != null">
                #{isOrderVerifyChangeName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tommy.mybatis.model.PyCust">
        update PY_CUST
        <set>
            <if test="name != null">
                NAME = #{name,jdbcType=OTHER},
            </if>
            <if test="descr != null">
                DESCR = #{descr,jdbcType=OTHER},
            </if>
            <if test="email != null">
                EMAIL = #{email,jdbcType=VARCHAR},
            </if>
            <if test="apiAddr != null">
                API_ADDR = #{apiAddr,jdbcType=VARCHAR},
            </if>
            <if test="authCode != null">
                AUTH_CODE = #{authCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=CHAR},
            </if>
            <if test="dbName != null">
                DB_NAME = #{dbName,jdbcType=VARCHAR},
            </if>
            <if test="dbUser != null">
                DB_USER = #{dbUser,jdbcType=VARCHAR},
            </if>
            <if test="dbPwd != null">
                DB_PWD = #{dbPwd,jdbcType=VARCHAR},
            </if>
            <if test="dbHost != null">
                DB_HOST = #{dbHost,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="enableDate != null">
                ENABLE_DATE = #{enableDate,jdbcType=VARCHAR},
            </if>
            <if test="disableDate != null">
                DISABLE_DATE = #{disableDate,jdbcType=VARCHAR},
            </if>
            <if test="robotQuantity != null">
                ROBOT_QUANTITY = #{robotQuantity,jdbcType=VARCHAR},
            </if>
            <if test="isIgnorePlatformCallback != null">
                IS_IGNORE_PLATFORM_CALLBACK = #{isIgnorePlatformCallback,jdbcType=CHAR},
            </if>
            <if test="isActivateGoogleVerify != null">
                IS_ACTIVATE_GOOGLE_VERIFY = #{isActivateGoogleVerify,jdbcType=CHAR},
            </if>
            <if test="secretKey != null">
                SECRET_KEY = #{secretKey,jdbcType=VARCHAR},
            </if>
            <if test="validationCodeTimeOffset != null">
                VALIDATION_CODE_TIME_OFFSET = #{validationCodeTimeOffset,jdbcType=DECIMAL},
            </if>
            <if test="isOneAccountOneSession != null">
                IS_ONE_ACCOUNT_ONE_SESSION = #{isOneAccountOneSession,jdbcType=CHAR},
            </if>
            <if test="isOrderVerifyUnpaid != null">
                IS_ORDER_VERIFY_UNPAID = #{isOrderVerifyUnpaid,jdbcType=VARCHAR},
            </if>
            <if test="isOrderVerifyWaitConfirm != null">
                IS_ORDER_VERIFY_WAIT_CONFIRM = #{isOrderVerifyWaitConfirm,jdbcType=VARCHAR},
            </if>
            <if test="isOrderVerifyChangeName != null">
                IS_ORDER_VERIFY_CHANGE_NAME = #{isOrderVerifyChangeName,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tommy.mybatis.model.PyCust">
    update PY_CUST
    set NAME = #{name,jdbcType=OTHER},
      DESCR = #{descr,jdbcType=OTHER},
      EMAIL = #{email,jdbcType=VARCHAR},
      API_ADDR = #{apiAddr,jdbcType=VARCHAR},
      AUTH_CODE = #{authCode,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      DB_NAME = #{dbName,jdbcType=VARCHAR},
      DB_USER = #{dbUser,jdbcType=VARCHAR},
      DB_PWD = #{dbPwd,jdbcType=VARCHAR},
      DB_HOST = #{dbHost,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      ENABLE_DATE = #{enableDate,jdbcType=VARCHAR},
      DISABLE_DATE = #{disableDate,jdbcType=VARCHAR},
      ROBOT_QUANTITY = #{robotQuantity,jdbcType=VARCHAR},
      IS_IGNORE_PLATFORM_CALLBACK = #{isIgnorePlatformCallback,jdbcType=CHAR},
      IS_ACTIVATE_GOOGLE_VERIFY = #{isActivateGoogleVerify,jdbcType=CHAR},
      SECRET_KEY = #{secretKey,jdbcType=VARCHAR},
      VALIDATION_CODE_TIME_OFFSET = #{validationCodeTimeOffset,jdbcType=DECIMAL},
      IS_ONE_ACCOUNT_ONE_SESSION = #{isOneAccountOneSession,jdbcType=CHAR},
      IS_ORDER_VERIFY_UNPAID = #{isOrderVerifyUnpaid,jdbcType=VARCHAR},
      IS_ORDER_VERIFY_WAIT_CONFIRM = #{isOrderVerifyWaitConfirm,jdbcType=VARCHAR},
      IS_ORDER_VERIFY_CHANGE_NAME = #{isOrderVerifyChangeName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>


    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from PY_CUST
        where 1=1
    </select>


</mapper>